  @media (min-width: 992px) {
    .dropdown-menu.mega-menu {
      left: 0;
      right: 0;
      width: 100%;
    }
  }

  @media (max-width: 768px) {
    /*.hero-bg {
      flex-direction: column;
    }

    .hero-bg .left,
    .hero-bg .right {
      width: 100%;
      height: 50%;
      clip-path: none;
    }
*/
    .hero-content h1 {
      font-size: 2.2rem;
    }

    .hero-content p {
      font-size: 1rem;
    }

    .event-card {
      flex-direction: column;
      text-align: center;
    }

    .event-info {
      padding-right: 0;
      padding-bottom: 15px;
    }

    .event-img {
      width: 100%;
      height: auto;
    }
    
      .slide-content {
        flex-direction: column;
      }
  }

